:root {
    --background: #111315;
    --background-dropdown: #F3FAFD;
    --surface-header: rgba(24, 28, 36, .90);
    --surface-headerScroll: rgba(15, 17, 23, .82);
    --surface-footer: #181C24;
    --text: #f5f5f5;
    --text-nav-dropdown: #111315;
    --background-search: #f5f5f5;
    --light-gray: #E2E8F0;
    --title: #66bcf1;
    --title-article: #E3E6E8;
    --border-shadowing: 1px solid rgba(255, 255, 255, .08);
    --hover-article: #60A5FA;
    --icon-heart: #66bcf1;
    --border-categories: 1px solid #475569;
    --border-top-dropdown: 2px solid rgba(24, 28, 36, .90);
    --border-categories-hover: 1px solid var(--light-gray);
    --boxshadow-dropdown: 0 15px 40px rgba(0, 0, 0, .08);
    --transition-color: #0d1117;
}