<div id="wrap">
    <div class="elementsFooter">
        <div class="logoAndAdditionalText">
            <div id="logo">
                <a href="#main"><img alt="JoselingGonzalez" /></a>
            </div>
            <div class="textLearning">
                <span>Keep learning
                    <strong><svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M1.24264 8.24264L8 15L14.7574 8.24264C15.553 7.44699 16 6.36786 16 5.24264V5.05234C16 2.8143 14.1857 1 11.9477 1C10.7166 1 9.55233 1.55959 8.78331 2.52086L8 3.5L7.21669 2.52086C6.44767 1.55959 5.28338 1 4.05234 1C1.8143 1 0 2.8143 0 5.05234V5.24264C0 6.36786 0.44699 7.44699 1.24264 8.24264Z">
                                </path>
                            </g>
                        </svg>
                    </strong>
                </span>
            </div>
        </div>
        <div class="categoriesFooter">
            <h2>Browse by category</h2>
            <div class="categoriesFooter-elements">
                <a href="#"><span>Algorithms</span></a>
                <a href="#"><span>Data Structure</span></a>
                <a href="#"><span>Javascript</span></a>
                <a href="#"><span>Transact-SQL</span></a>
                <a href="#"><span>CSharp</span></a>
            </div>
        </div>
    </div>
    <div class="infoFooter">
        <div>
            <p class="copyRight">&copy; Joseling González</p>
        </div>
        <div class="socialMedia-lightMode">
            <button class="activateModebtn">
                <img alt="activeMood" />
            </button>
            <a href="https://github.com/Joseling-Gonzalez" aria-label="github-joseling" target="_blank">
                <img id="icon-github" alt="github" />
            </a>
            <a href="https://linkedin.com/in/joselinggonzalez" aria-label="linkedin" target="_blank">
                <img id="icon-linkedin" alt="linkedin" />
            </a>
            <a href="#" aria-label="instagram" target="_blank">
                <img id="icon-instagram" alt="instagram" />
            </a>
        </div>
    </div>
</div>