<div id="wrap">
    <div class="menu-nav">
        <div id="logo">
            <a href="#main"><img alt="JoselingGonzalez" /></a>
        </div>
        <nav id="nav">
            <ul>
                <li class="dropdown"><button id="categorybtn">Categories</button>
                    <ul class="submenu">
                        <li><a href="#" data-view="cSharp"><span>C Sharp</span></a></li>
                        <li><a href="#" data-view="dataStructure"><span>Data Structure</span></a></li>
                        <li><a href="#" data-view="algorithm"><span>Algorithms</span></a></li>
                        <li><a href="#" data-view="tSql"><span>Transact-SQL</span></a></li>
                        <li><a href="#" data-view="javascript"><span>Javascript</span></a></li>                        
                    </ul>
                </li>
                <li><a href="views/about/">About</a></li>
            </ul>
        </nav>
    </div>
    <div class="boxSearch">
        <form class="searchForm" role="search">
            <label for="search">Search articles</label>
            <div class="searchElement">
                <img id="icon-searches" alt="icon-search" />
                <input id="search" type="search" placeholder="Search articles..." />
            </div>
        </form>
        <button class="activateModebtn">
            <img alt="activeMood" />
        </button>
    </div>
</div>