<div id="wrap">
    <section id="articles">
        <h1>Articles</h1>
        <div class="NameArticles">
            <article>
                <a class="titleArticle" href="#"><span>Using CTE in SQL</span></a>
                <p class="descriptionArticle">It is a long established fact that a reader will be distracted by
                    the
                    readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                    normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look
                    like
                    readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
                    as
                    their default model text, and a search for 'lorem ipsum' will uncover many web sites still
                    in
                    their infancy.</p>
                <a class="readArticle"><span>Read more</span></a>
            </article>
            <article>
                <a class="titleArticle" href="#"><span>Using CTE in SQL</span></a>
                <p class="descriptionArticle">It is a long established fact that a reader will be distracted by
                    the
                    readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                    normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look
                    like
                    readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
                    as
                    their default model text, and a search for 'lorem ipsum' will uncover many web sites still
                    in
                    their infancy.</p>
                <a class="readArticle"><span>Read more</span></a>
            </article>
            <article>
                <a class="titleArticle" href="#"><span>Using CTE in SQL</span></a>
                <p class="descriptionArticle">It is a long established fact that a reader will be distracted by
                    the
                    readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                    normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look
                    like
                    readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
                    as
                    their default model text, and a search for 'lorem ipsum' will uncover many web sites still
                    in
                    their infancy.</p>
                <a class="readArticle"><span>Read more</span></a>
            </article>
        </div>
    </section>
    <section id="categories">
        <h1>Browse by category</h1>
        <div class="NamesCategories">
            <a href="#"><span>Transact-SQL</span></a>
            <a href="views/categories/algorithms/index.html"><span>Algorithms</span></a>
            <a href="#"><span>Data Structure</span></a>
            <a href="#"><span>Javascript</span></a>
            <a href="#"><span>CSharp</span></a>
        </div>
    </section>
</div>