<div id="wrap" class="home">
    <section id="articles">
        <h1 class="titleHome">Articles</h1>
        <div id="recentArticles"></div>       
    </section>
    <section id="categories">
        <h2 class="titleHome">Browse by category</h2>
        <div class="NamesCategories">
            <nav class="nav">
                <ul>
                    <li><a href="#" data-view="tSql"><span>Transact-SQL</span></a></li>
                    <li><a href="#" data-view="algorithm"><span>Algorithms</span></a></li>
                    <li><a href="#" data-view="dataStructure"><span>Data Structure</span></a></li>
                    <li><a href="#" data-view="javascript"><span>Javascript</span></a></li>
                    <li><a href="#" data-view="cSharp"><span>C Sharp</span></a></li>
                </ul>
            </nav>
        </div>
    </section>
</div>