#header.activeArticle {
  background: var(--surface-header-article);
  border-bottom: var( --border-shadowing-article);
}

#section-articles {
    margin-top: 12rem;
}

#title-article-content.activeArticle {
  display: block;
  margin-bottom: 2.5rem;
  font-weight: 500;
  font-size: 2rem;
  font-family: 'DMSans', sans-serif;
  color: var(--title-article);
}

#articles-content {
    height: 800px;
    display: block;
}

#articles-content h2{
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 2rem;
    font-family: 'DMSans', sans-serif;
    color: var(--subtitle-article);
}

#articles-content p{
    font-family: 'DMSans', sans-serif;
    font-size: 1.1rem;
    font-weight: 200;
    color: var(--text);
    letter-spacing: .59px;
    padding-bottom: .59rem;
}