
#main .home {
    height: 860px;
    position: relative;
    display: grid;
    align-items: start;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0 auto 1fr;
    grid-gap: 64px 96px;
    gap: 64px 96px;
    padding-top: 7rem;
    margin-top: 3.5rem;
}

section .titleHome {
    text-transform: uppercase;
    color: var(--title);
    font-family: 'DMSans', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.NamesCategories nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.1rem 0.5rem;
}

.NamesCategories nav ul li {
    list-style: none;
}

.NamesCategories a {
    border: var(--border-categories);
    border-radius: 8px;
    padding: .3125rem .75rem;
    font-family: 'DMSans', sans-serif;
    font-size: .875rem;
    text-decoration: none;
    background: var(--surface-categories);
    color: var(--text);
    isolation: isolate;
    cursor: pointer;
}

.NamesCategories a:hover {
    border: var(--border-categories-hover);
}

.NamesCategories a:focus-within {
    border: 1.5px solid #475569;
    border-radius: 10px;
}

#recentArticles {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    row-gap: 3rem;
}

.titleArticle {
    color: var(--title-article);
    text-decoration: none;
    font-family: 'DMSans', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-in-out;
}

.titleArticle:hover {
    border-bottom: 3px solid var(--hover-article);
    transform: scaleX(1);
}

.descriptionArticle {
    padding: 1rem 0;
    font-family: 'DMSans', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: .2px;

}

.readArticle {
    color: var(--title-article);
    font-family: 'DMSans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .5px;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}

.readArticle:hover {
    border-bottom: 3px solid var(--hover-article);
    transform: scaleX(1);
}
