@media (max-width:1300px) {
    #wrap {
        max-width: 900px;
    }

    .searchElement input:focus,
    .searchElement input:focus-within {
        width: 710px;
    }

    #main .home {
        height: 950px;
    }

    #main .About {
        height: 595px;
    }
}

@media (max-width:990px) {
    #wrap {
        max-width: 800px;
    }

    .searchElement input:focus,
    .searchElement input:focus-within {
        width: 605px;
    }

    .PhotoAbout img {
        width: 18rem;
        height: 18rem;
    }
}

@media (max-width:890px) {
    #wrap {
        max-width: 700px;
    }

    .searchElement input:focus,
    .searchElement input:focus-within {
        width: 502px;
    }

    #main .home {
        height: 1069px;
    }

    #main .About {
        height: 740px;
    }
}

@media (max-width:750px) {
    #wrap {
        max-width: 600px;
    }

    #main .About {
        height: 892px;
    }

    .About .InfoAbout {
        flex-direction: column-reverse;
        row-gap: 2.6rem;
        column-gap: 0;
    }

    .NavAbout { 
        margin-top: 3rem;
    }

    #categorybtn {
        width: 265px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }

    #categorybtn img {
        display: block;
        width: 25px;
        height: 25px;
    }

    #navHeader {
        display: none;
    }

    #navHeader.active-menu {
        position: absolute;
        right: 50px;
        top: 6rem;
        padding: 20px;
        box-shadow: 0px 0px 5px 1px #ccc;
        background: #FFFFFF;
        display: block;
        transition: all .3s ease-in-out;
    }

    #navHeader.active-menu ul {
        display: flex;
        gap: 1rem;
        flex-direction: column-reverse;
        align-items: flex-start;
        transition: transform 0.8s ease-in-out;
    }

    #navHeader.active-menu ul li a,
    #navHeader.active-menu ul li button span {
        color: #111315;
    }

    #navHeader.active-menu ul li .submenu {
        display: none;
        position: relative;
        top: 0;
        left: 0;
        z-index: 0;
        background: #FFFFFF;
        border-radius: 2px;
        border-top: 0;
        box-shadow: none;
        transform: scaleX(1);
    }

    #navHeader.active-menu ul li .submenu.active {
        display: flex;
        transition: all .8s ease-in-out;
    }

    .searchElement input:focus,
    .searchElement input:focus-within {
        width: 400px;
    }

    .boxSearch {
        gap: 1rem;
    }

    .searchForm {
        position: relative;
        right: 0;
    }

    /* Menu Hamburguer */
    #menuIcon {
        display: block;
        border: none;
        float: right;
        background-color: transparent;
    }

    .hamburger .line {
        width: 29px;
        height: 3px;
        display: block;
        margin: 6px auto;
        border-radius: 16px;
        background-color: var(--menu-movil);
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .menuHamburguer.is-active .hamburger .line {
        background-color: var(--blue);
    }

    .hamburger:hover {
        cursor: pointer;
    }

    #menu-overlay {
        opacity: 0;
        background: transparent;
    }

    /****/
    #hamburger-5.is-active {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    #hamburger-5.is-active .line:nth-child(2) {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }

    #hamburger-5.is-active .line:nth-child(2) {
        -webkit-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }

    #hamburger-5.is-active .line:nth-child(2) {
        opacity: 0;
    }

    #hamburger-5.is-active .line:nth-child(1),
    #hamburger-5.is-active .line:nth-child(3) {
        width: 26px;
        height: 3px;
        margin: 11px auto;
        -webkit-transform-origin: right;
        -moz-transform-origin: right;
        -ms-transform-origin: right;
        -o-transform-origin: right;
        transform-origin: right;
    }

    #hamburger-5.is-active .line:nth-child(1) {
        -webkit-transform: translateY(15px) rotate(35deg);
        -ms-transform: translateY(15px) rotate(35deg);
        -o-transform: translateY(15px) rotate(35deg);
        transform: translateY(15px) rotate(35deg);
    }

    #hamburger-5.is-active .line:nth-child(3) {
        -webkit-transform: translateY(-15px) rotate(-35deg);
        -ms-transform: translateY(-15px) rotate(-35deg);
        -o-transform: translateY(-15px) rotate(-35deg);
        transform: translateY(-15px) rotate(-35deg);
    }

    /****/
    #menu-overlay.active-menu {
        width: 100%;
        height: 100%;
        opacity: 1;
        position: fixed;
        z-index: 7;
        backdrop-filter: blur(1px);
        background: rgba(255, 255, 255, 0.7);
        pointer-events: none;
    }

    #main .home {
        display: block;
    }

    #categories {
        display: none;
    }

    .category #cArticles {
        display: block;
    }

    #cArticles article {
        margin-bottom: 2rem;
    }
}

@media(max-width:650px) {
    #wrap {
        max-width: 500px;
    }

    .TitleAbout {
        font-size: 1.8rem;
    }

    .About .InfoAbout {
        flex-direction: column-reverse;
    }

    .searchElement input {
        display: none;
    }

    .searchElement {
        background: transparent;
        border: none;
        border-radius: 0;
        padding: 0;
        gap: 0;
    }

    .searchElement img {
        cursor: pointer;
        width: 1.3rem;
        height: 1.3rem;
    }

    .searchElement.active {
        gap: 0.55rem;
        border-radius: 15px;
        padding: 0.2rem 0.57rem;
        border: 1px solid var(--background-search);
        background: var(--background);
    }

    #search.active {
        width: 300px;
        flex: 1;
        display: block;
        outline: none;
        border: none;
        color: var(--background-search);
        font-size: 14px;
        background: transparent;
    }
}

@media(max-width:550px) {
    #wrap {
        max-width: 400px;
    }

    #main .About {
        height: 941px;
    }

    .About .InfoAbout { 
        row-gap: 2.1rem;
    }

    .PhotoAbout img {
        width: 16rem;
        height: 16rem;
    }

    .activateModebtn img {
        width: 1.25rem;
        height: 1.25rem;
    }

    #search.active {
        width: 200px;
    }

    .hamburger .line {
        height: 2.2px;

    }

    #hamburger-5.is-active .line:nth-child(1),
    #hamburger-5.is-active .line:nth-child(3) {
        width: 23px;
        margin: 13px auto;
        height: 2.2px;
    }

    .categoriesFooter h2 {
        font-size: 1.1rem;
    }

    .socialMedia-lightMode img {
        width: 18px;
        height: 18px;
    }

    .categoriesFooter-elements ul li a,
    .textLearning span,
    .copyRight {
        font-size: 0.86rem;
    }

    .categoriesFooter-elements ul {
        gap: .50rem;
    }
}

@media(max-width: 450px) {
    #wrap{
        max-width: 341px;
    }
}