<div id="wrap" class="About">
    <section>
        <div class="InfoAbout">
            <div class="PhotoAbout">
                <img alt="photo-joseling" />
            </div>
            <div class="DescriptionAbout">
                <h1 class="TitleAbout">Hi there! I'm Joseling.</h1>
                <p>I'm a software engineer passionate about building things that solve problems through technology and
                    thoughtful engineering.</p>

                <p>I use this blog to share my knowledge, explore programming concepts, and document what I learn along
                    my
                    journey in software engineering.</p>

                <p>My aim is to make technical concepts easier to understand through clear explanations, practical
                    examples,
                    and
                    continuous learning.</p>
            </div>
        </div>
        <div class="NavAbout">
            <h1 class="TitleAbout">What I write about</h1>
            <nav class="nav">
                <ul class="submenu">
                    <li><a href="#" data-view="cSharp"><span>C Sharp</span></a></li>
                    <li><a href="#" data-view="dataStructure"><span>Data Structure</span></a></li>
                    <li><a href="#" data-view="algorithm"><span>Algorithms</span></a></li>
                    <li><a href="#" data-view="tSql"><span>Transact-SQL</span></a></li>
                    <li><a href="#" data-view="javascript"><span>Javascript</span></a></li>
                </ul>
            </nav>
        </div>
    </section>
</div>